
$background: #f8f8f8;
$white: #ffffff;
$button: #0e2851;
$buttonLight: #184896;
$navbarBackground: #CE3B5C;
$fontColor: #7D7D7D;
$grey: #666666;
$lightGrey: #888888;
$lighterGrey: #EEEEEE;
$navy: #283A47;

html, body{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    background-color: $background;
}
 body a{
 	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
 }
.header-note{
	text-align:center;
}
.head-bg{
	background:url(../images/abstractPolygon.jpg);
  background-size: cover;
	min-height:737px;
}
.profilePicture {
  border-radius: 50%;
  height: 250px;
}
.header-note{
	color:$background;
	font-weight:100;
	padding-top: 13em;
}
.header-note h1{
	font-weight: 200;
	font-size: 2.8em;
	margin-top: 0.5em;
}

.project {
  margin: 10px;
}

/*---- start-about----*/
.about{
	border:1px solid $lighterGrey;
	border-right:0px;
	border-left:0px;
	padding:5em 0;
}
.about h3{
	font-size: 2.5em;
}
.about p{
	padding: 1em 0 2em 0;
}
.btn-blue{
	background: $button;
	border: 1px solid $button;
	font-size: 1.3em;
	padding: 0.5em 1em 0.5em 0.5em;
}
.btn-blue:hover{
	background:none;
	border:1px solid $button;
	color:$button;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
	}
	.portfolio img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
		display: block;
	}
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
	.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		.portfolio .label-text {
			color:$white;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}

		.portfolio .text-category {
			display:block;
			font-size:9px;
			font-size: 12px;
			text-transform:uppercase;
		}

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.portfolio-head{
	text-align: center;
	padding-top: 1.8em;
}
.portfolio{
	background: $background;
}
.portfolio h3{
	color: $grey;
	font-size: 2.5em;
	font-weight: 300;
}
.portfolio p{
	color: #858585;
	font-size: 0.96em;
	line-height: 1.5em;
	margin: 1.2em 0 2em;
}

/*----start-testmonials----*/
.testmonials{
	background:#455261;
}
.item h2{
	margin: 0;
	color: $grey;
	font-family: "trebuchet ms", sans-serif;
	padding: 0.3em 0 0 0;
}
.item{
    text-align: center;
    height:350px !important;
}
.carousel{
    margin-top: 20px;
}
.item h2 img{
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.bs-example{
	margin: 20px;
}
.caption{
  padding-top: 50px;
	padding-bottom: 50px;
}
.caption h3{
	font-weight: 700;
	text-shadow: none;
}
.caption p{
	text-shadow:none;
	color: $lighterGrey;
	font-size: 0.96em;
	line-height: 1.5em;
}
.pagenate-icons li,.pagenate-icons li.active{
	width:20px;
	height:20px;
	display:inline-block;
	background:url(../images/pagenate.png) no-repeat 0px 0px;
	border:none;
}
.pagenate-icons li.active{
	background: url(../images/pagenate.png) no-repeat -20px 0px;
}
/*--contact--*/
.contact{
	padding:1em 0 3em;
}
.contact-form{
	margin-top: 2em;
}
.text-box input[type="text"],.textarea textarea{
	border: 2px solid #E5E5E5;
	width: 100%;
	padding: 0.85em;
	border-radius: 0.3em;
	margin-bottom: 1.5em;
	color:#858585;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	outline:none;
}
.text-box input[type="text"]:hover,.textarea textarea:hover,.text-box input[type="text"]:focus,.textarea textarea:focus{
	border-color: $buttonLight;
}
.textarea textarea{
	height: 205px;
	resize: none;
}
.contact h4{
	color: $grey;
	font-size: 2.5em;
	font-weight: 300;
	text-align:center;
}
.contact-head{
	color: #858585;
	font-size: 0.96em;
	line-height: 1.5em;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding: 0.8em 0 1em;
}
.btn-blue-lg{
	background: url(../images/racket-icon.png) no-repeat $button 17px 21px;
	border: 1px solid $button;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-size: 1.2em;
	padding: 1em 2em 1em 3.2em;
	margin: 0 auto;
	display: inherit;
}
.btn-blue-lg:hover,.btn-blue-lg:focus{
	background:url(../images/racket-icon.png) no-repeat $buttonLight 17px 21px;
	border:1px solid $buttonLight;
}
/*---- start-social-icons----*/
.social-icons{
	text-align:center;
	margin:3em 0 2em;
}
.social-icons ul li{
  list-style:none;
  display:inline-block;
  margin-right: 1.2em;
}
/*----*/
/*--copy-right--*/
.copy-right{
	text-align:center;
}
.copy-right p{
	color: #858585;
	font-size: 0.96em;
	line-height: 1.5em;
	text-align: center;
}
.copy-right span,.copy-right a{
	color:$button;
  margin:0 0.2em;
  text-decoration:none;
}
.copy-right a{
}
.copy-right a:hover{
	color: #858585;
}
.fa {
  color: $fontColor;
}
/* This is the selector i used for my menu, it needs to be set as position:absolute; */


/*------Start-Media-quries------*/
/*----Start-mediaquries-for-1440px and 1366px----*/
@media(max-width:1440px) and (min-width:1024px){
	.head-bg {
		min-height: 635px;
	}
	.header-note {
		padding-top: 11em;
	}
	.subMenu {
		top: 635px;
	}
}
/*----Start-mediaquries-for-1024px-----*/
/*----Start-mediaquries-for-768px-----*/
@media(max-width:768px){
	.header-note h1 {
		font-size: 2.5em;
	}
}
/*----Start-mediaquries-for-640px-----*/
@media(max-width:640px){
	.head-bg {
		min-height:500px;
	}
	.subMenu {
		top:500px;
	}
	.header-note {
		padding-top: 8em;
	}
	.header-note h1 {
		font-size: 2.1em;
	}
	.msg-icon{
		position: absolute;
		top: 5px;
	}
	#filters li span {
		padding: 10px 25px;
	}
	.contact-head {
		width: 90%;
	}
	.big-btn {
		font-size: 1.3em;
	}
}
/*----Start-mediaquries-for-480px-----*/
@media(max-width:480px){
	.head-bg {
		min-height: 470px;
	}
	.subMenu {
		top:470px;
	}
	.header-note {
		padding-top: 6em;
	}
	.header-note h1 {
		font-size: 2.1em;
	}
	.msg-icon{
		position: absolute;
		top: 5px;
	}
	.contact-head {
		width: 90%;
	}
	.caption {
		padding: 1em 0 1em;
	}
}
/*----Start-mediaquries-for-320px-----*/
@media(max-width:320px){
	body{
		font-weight:75%;
	}
	.head-bg {
		min-height: 420px;
	}
	.subMenu {
		top:420px;
	}
	.header-note {
		padding-top: 6em;
	}
	.header-note h1 {
		font-size: 1.8em;
		padding: 0.5em 0 0.8em;
		margin: 0;
	}
	.msg-icon{
		position: absolute;
		top: 5px;
	}
	.contact-head {
		width: 100%;
	}
	.caption {
		padding: 1em 0 1em;
	}
	.about h3 {
		font-size: 1.7em;
	}
	.bs-example {
		margin: 0;
	}
	.carousel-caption {
		left: 0%;
		right: 0%;
	}
	.portfolio-head {
		padding-top: 0;
	}
	.contact h4 {
		font-size: 2.2em;
	}
	.text-box input[type="text"], .textarea textarea {
		padding: 0.7em;
	}
	.textarea textarea{
		height:180px;
	}
	.social-icons ul{
		margin:0;
		padding:0;
	}
}
